*{
    margin:0px;
    padding:0px;
}

div#general{
    margin:auto;
    width:800px;
    height:800px;

}
div#f {
    margin: auto;
    margin-top:auto;
}
.btn {
    display: flex;
    align-items: center;
}

.btn {
    margin: 0 auto;
}

