@page
@model SunnySchoolUI.Pages.AgendaModel
@{
        ViewData["Title"] = "Agenda";
}

<h1>Agenda</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre Del Alumno</th>
            <th scope="col">Fecha De Agenda</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Missael</td>
            <td>29/05/20</td>
        </tr>
        
    </tbody>
</table>


