@page
@model SunnySchoolUI.Pages.AlumnoModel
@{
    ViewData["Title"] = "Alumno";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title">Datos del Alumno</h1>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Nombre del Alumno</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Nombre del Padre o tutor</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Fecha De Nacimiento</label>
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Nacionalidad</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Ocupacion</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Ingreso</label>
                <input type="number" class="form-control">
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Nombre del Madre o tutora</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Fecha De Nacimiento</label>
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Nacionalidad</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Ocupacion</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Ingreso</label>
                <input type="number" class="form-control">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Municipio</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Comunidad o Localidad</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Colonia</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-12">
            <input type="button" class="btn btn-info btn-block" value="Guardar">
        </div>
    </div>



</div>
