@page
@model SunnySchoolUI.Pages.DetallesSocioeconomicosModel
@{
    ViewData["Title"] = "DetallesSocioeconomicos";
}

<h1>Detalles Socioeconomicos</h1>

<form class="mt-3" method="post">
    <div class="d-flex justify-content-end p-2">
        <button type="submit" class="btn btn-primary m-2">Actualizar</button>
        <a asp-page="/Socioeconomico" class="btn btn-secondary m-2">Cancel</a>
        <button asp-page-handler="Detalles" asp-route-ID="@Model.Socioeconomico.Id" class="btn btn-sm">Generar Reporte</button>
    </div>
    <label>Id</label>
    <input readonly asp-for="@Model.Socioeconomico.Id" />
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Socioeconomico</h1>
            </div>
            <br>
            <br>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" asp-for="Socioeconomico.Nombre" class="form-control">
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-12">
                <h3>Ingresos</h3>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Ingreso Mensual</label>
                    <input type="number" asp-for="Socioeconomico.IngresosM" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Egreso Mensual</label>
                    <input type="number" asp-for="Socioeconomico.EgresosM" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Alimentacion</label>
                    <input type="number" asp-for="Socioeconomico.Alimentacion" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Escolaridad</label>
                    <input type="number" asp-for="Socioeconomico.Escolaridad" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Vivienda</label>
                    <input type="number" class="form-control" asp-for="Socioeconomico.Vivienda">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Transporte</label>
                    <input type="number" class="form-control" asp-for="Socioeconomico.Transporte">
                </div>
            </div>
            <div class=" col-md-12">
                <div class="form-group">
                    <label>Servicios</label>
                    <input type="number" class="form-control" asp-for="Socioeconomico.Servicios">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Otros</label>
                    <input type="number" class="form-control" asp-for="Socioeconomico.Otros">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Total</label>
                    <input type="number" class="form-control" asp-for="Socioeconomico.Total">
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>
        <div class="col-md-12">
            <h3>Vivienda</h3>
        </div>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Distribucion (Cuartos en la casa)</label>
                    <input type="number" class="form-control" asp-for="Socioeconomico.Distribucion">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Area</label>
                    <select class="form-control" asp-for="Socioeconomico.Area">
                        <option value="" disabled="" selected="">Selecciona el area</option>
                        <option value="Comunidad indigena">Comunidad indigena</option>
                        <option value="Marginacion">Marginacion</option>
                        <option value="Rural">Rural</option>
                        <option value="Suburbana">Suburbana</option>
                        <option value="Urbana">Urbana</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Servicios</label>
                    <input type="text" class="form-control" asp-for="Socioeconomico.ServiciosV">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Construccion</label>
                    <select class="form-control" asp-for="Socioeconomico.Construccion">
                        <option value="" disabled="" selected="">Selecciona el area</option>
                        <option value="adobe">adobe</option>
                        <option value="ladrillo">ladrillo</option>
                        <option value="block">block</option>
                        <option value="carrizo">carrizo</option>
                        <option value="cemento">cemento</option>
                        <option value="concreto">concreto</option>
                        <option value="lamina de asbesto">lamina de asbesto</option>
                        <option value="lamina de carton">lamina de carton</option>
                        <option value="madera">madera</option>
                        <option value="mixta">mixta</option>
                        <option value="palma">palma</option>
                        <option value="piedra">piedra</option>
                        <option value="tabique">tabique</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Status de la vivienda </label>
                    <select class="form-control" asp-for="Socioeconomico.StatusV">
                        <option value="" disabled="" selected="">Selecciona el status de la vivienda</option>
                        <option value="Propia">Propia</option>
                        <option value="Rentada">Rentada</option>
                        <option value="Prestada">Prestada</option>
                        <option value="Invasion">Invasion</option>
                        <option value="Comprada">Comprada</option>
                        <option value="No tiene">No tiene</option>
                        <option value="Compartida">Compartida</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Mobiliario</label>
                    <input type="text" class="form-control" asp-for="Socioeconomico.Mobiliario">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Observaciones</label>
                    <input type="text" class="form-control" asp-for="Socioeconomico.Observaciones">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Agenda</label>
                    <input type="date" class="form-control" asp-for="Socioeconomico.Agenda">
                </div>
            </div>
        </div>
    </div>
</form>