@page

@model SunnySchoolUI.Pages.DetallesModel
@{
    Layout = "_Layout";

    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>
<form class="mt-3" method="post">
    <div class="d-flex justify-content-end p-3">
        <button type="submit" class="btn btn-primary m-2">Actualizar</button>
        <a asp-page="/Solicitudes" class="btn btn-secondary m-2">Cancel</a>
        <button asp-page-handler="Detalles" asp-route-ID="@Model.Solicitud.Id" class="btn btn-sm">Generar Reporte</button>
    </div>
    <div class="row">
        <div class="col-md-12">

            <input hidden asp-for="@Model.Solicitud.Id" />
            <br>
            <br>
        </div>

    </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label>Nombre del Alumno</label>
                    <input type="text" asp-for="Solicitud.Nombrealumno" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Correo</label>
                    <input type="text" asp-for="Solicitud.Correo" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Curp</label>
                    <input type="text" asp-for="Solicitud.Curp" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nacionalidad</label>
                    <input type="text" asp-for="Solicitud.Nacionalidad" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha de nacimiento</label>
                    <input type="date" asp-for="Solicitud.FechaNacimiento" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Genero</label>
                    <select class="form-control" asp-for="Solicitud.Genero">
                        <option value="" disabled="" selected="">Selecciona el sexo</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
            </div>
        </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre del Padre o tutor</label>
                        <input type="text" class="form-control" asp-for="Solicitud.NamePadre">
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="form-group">
                        <label>Fecha De Nacimiento del padre</label>
                        <input type="date" class="form-control" asp-for="Solicitud.FechaNpadre">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nacionalidad</label>
                        <input type="text" class="form-control" asp-for="Solicitud.NacionalidadPadre">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ocupacion</label>
                        <input type="text" class="form-control" asp-for="Solicitud.OcupacionPadre">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ingreso</label>
                        <input type="number" class="form-control" asp-for="Solicitud.IngresoP">
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nombre del Madre o tutora</label>
                    <input type="text" class="form-control" asp-for="Solicitud.NameMadre">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Fecha De Nacimiento de la madre</label>
                    <input type="date" class="form-control" asp-for="Solicitud.FechaNmadre">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nacionalidad de la madre</label>
                    <input type="text" class="form-control" asp-for="Solicitud.NacionalidadMadre">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Ocupacion</label>
                    <input type="text" class="form-control" asp-for="Solicitud.OcupacionMadre" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Ingreso</label>
                    <input type="number" class="form-control" asp-for="Solicitud.IngresoM">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Municipio</label>
                    <input type="text" class="form-control" asp-for="Solicitud.Municipio">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Comunidad o Localidad</label>
                    <input type="text" class="form-control" asp-for="Solicitud.Localidad">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Colonia</label>
                    <input type="text" class="form-control" asp-for="Solicitud.Colonia">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Status de la solicitud</label>

                    <select class="form-control" asp-for="Solicitud.StatusS">
                        <option value="" disabled="" selected="">Selecciona el Status</option>
                        <option value="Revisado">Revisado</option>
                        <option value="Rechazado">Rechazado</option>
                    </select>
                </div>
            </div>
        </div>

        @section Scripts{

            <script src="~/lib/pdfmake/pdfmake.min.js"></script>
            <script src="~/lib/pdfmake/vfs_fonts.js"></script>
            <script>
                $(document).ready(function () {

                });

                function generatedpdf() {
                    var win = window.open('', '_blank');
                    var doDefinition = "Hello Nurse :P..."
                    pdfaMake.createPdf(doDefinition).open({}, win);
                }

            </script>

        }
</form>
