@page
@model SunnySchoolUI.Pages.IndexModel
@{
    Layout = "Layout";
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h1 class="align-content-center">Bienvenido</h1>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <p>AQUI APARECERA INFORMACION DE LA INSTITUCION Y MAS</p>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <dv class="form-group">
                <a asp-page="SolicitarBeca" class="btn btn-info btn-block">Solicitar Beca</a>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</div>

