@page
@model SunnySchoolUI.Pages.SolicitarBecaModel
@{
    ViewData["Title"] = "SolicitarBeca";
}

<h1 class="title">Becas Disponibles</h1>
<div class="row">
    <div class="col-md-6">
        <img src="~/Images/Beca.jpg" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-6">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active">Beca de descuento</a>
                <br>
                <h9>
                    Programa de apoyo el cual otorga hasta un 30% de descuento en el pago mensual de la colegiatura
                </h9>
                <br>
                <br>
                <br>
                <br>
                <div class="form-group">
                    <a asp-page="FormularioBeca" class="btn btn-info btn-block">Solicitar</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br>
        <br>
        <br>
    </div>
 </div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Images/Nodisponible.png" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-6">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active">Beca no disponible</a>
                <br>
                <h9>
                    En este momento la convocatoria de esta beca no esta disponible o no se ha agregado 
                </h9>
                <br>
                <br>
                <br>
                <br>
                <div class="col-md-12">
                    <div class="form-group">
                        <a asp-page="..." class="btn btn-info btn-block">Solicitar</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


