@page
@model SunnySchoolUI.Pages.TutorModel
@{
    ViewData["Title"] = "Solicitudes";
}

<h1>Solicitudes</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre Del Alumno</th>
            <th scope="col">No.Solicitud</th>
            <th scope="col">Seguimiento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Missael</td>
            <td>43</td>
            <td><a asp-page="" class="btn btn-success btn-success">Dar Seguimiento</a></td>
        </tr>
    </tbody>
</table>

